.container {

    background-color: #7BA7AB;
    display: grid;
    /*grid-template-columns: 200px 50px auto 50px 200px;*/
    /*grid-template-rows: 50px 100px auto 200px;*/
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    margin: 0 auto;
    width: 800px;
    height: 600px;
}

.item{
    border: 1px solid #404040;
}