.block {
    background: #2196f3;
    display:inline-block;
    height: 200px;
    margin: 5px;
    width:200px;

}
p {
    display: inline-block;
    margin: 2px;


}
.flex-box {
    background: #2196f3;
    display: flex;
    flex-direction: column;
}

.flex-box > div{
    background: #bdf3dc;
    font-size: 30px;
    margin: 10px;
    padding: 30px;

}