#nav-bar {
    box-shadow: 0px 7px 8px -3px rgba(19,41,61,1);
    background-color: #1B98E0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

#nav-bar a {
    display: block;
    float: right;
    padding: 5px;
    margin: 5px;
    color: white;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-decoration: none;
}

#nav-bar a:hover{
    background: #006494;
}

#photo-container{
    width: 100%;
    height: 700px;
}

#photo-container img{
    width: 100%;
    height: 100%;
}
#brand_name {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 300px;
    z-index: 2;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

#brand_item_fr{
    opacity: 0.75;
    color: white;
    background-color: #1B98E0;
    padding: 5px;
}

#brand_item_sec{
    opacity: 0.75;
    color: #1B98E0;
    background-color: white ;
    padding: 5px;
}


#main-container {
    display: grid;
    height: 600px;
    width: 850px;
    grid-template-rows: repeat(4,150px );
    grid-template-columns: repeat(6, 270px);

}


#logo a {
    float: left;
}


body {
    margin: 0;
}


#stonehenge_photo > img {

    width: 225%;
    height: 650px;
    z-index: 1;


}
<<<<<<< HEAD
=======
#brand_name {
    z-index: 2;
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}
#line {
    height: 2px;
    background-color: black;
    align: center;
    width: 100%;
    border: 2px;
    margin: 10px 10px;

}
#contents {

    display: grid;
    grid-template-columns: repeat(4,310px);
    grid-template-rows: repeat(2,150px);
    grid-gap: 20px;
    margin-left: 10px;
}
#projects {
    margin-top: 100px;
    margin-left: 30px;
}
#contents > p >img {
    height: 200px;
    width: 320px;
    justify-self: start;
    background-color: black;
    color: white;

}
 #picture1 {

 }
>>>>>>> HomeWork - Lesson 20 Portfolio
