#nav-bar {
    background-color: #1B98E0;
    width: 100%;
    position: fixed;
    top: 0;
}

#nav-bar a {
    padding: 15px 10px;
    color: white;
    display: block;
    float: right;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
    text-decoration: none;

}
#main-container {
    display: grid;
    height: 600px;
    width: 850px;
    grid-template-rows: repeat(4,150px );
    grid-template-columns: repeat(6, 270px);

}


#logo a {
    float: left;
}


body {
    margin: 0;
}

.button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #382b38;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
#stonehenge_photo > img {

    width: 225%;
    height: 650px;
    z-index: 1;


}
#brand_name {
    z-index: 2;
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}