body {
    margin: 0;

}
#header {
    background-color: #616161;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;

}
#nav-bar {
    background-color: #404040 ;
    display: flex;
    justify-content: center;

}



#nav-bar a {
    background-color:#404040 ;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
#nav-bar a:hover{
    background-color:#c0c0c0 ;
    color: #404040;
}

#main-block{
    display: flex;
    flex-wrap: wrap;
    /*padding: 0 5px;*/
}

    .photo-column > div{
        border: black solid 2px;
        display: flex;
        flex-wrap: wrap;
        margin: 10px 10px;
        padding: 10px;
    }
    #container4 {

        align-self: stretch;
    }


@media screen and ( max-width: 600px){
    #nav-bar {
        flex-direction: column;
    }

}