.photo-column{
    flex: 25%;
    max-width: 25%;
    /*padding: 0 4px;*/
}

.photo-column img{
    margin-top: 8px;
    width: 100%;
}


@media (max-width: 800px){
    .photo-column{
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px){
    .photo-column{
        flex: 100%;
        max-width: 100%;
    }
}