
body {
    margin: 0;
}

#container {
    /*background-color: #9fb4f2;*/
    height: 350px;
    width: 100%;
    display: grid;
    grid-template-rows: 300px 50px 250px;
    /*grid-template-columns: 400px auto auto 350px;*/
    grid-template-columns: repeat(3, 350px);
    /*grid-template-columns: repeat(3, auto);*/
    grid-template-areas:
            "logo photo photo"
            "link-1 link-2 link-3"
             "ad-info-1 ad-info-2 ad-info-3";
    justify-content: center;
}

#logo {
    width: 100%;
    grid-area: logo;
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: 30px;
    color: #f9efff;
    padding-top: 70px;
    z-index: 3;
}

#gradient{
    background: linear-gradient(to right, rgba(143,200,0,1) 0%,rgba(143,200,0,0) 76%,rgba(143,200,0,0) 100%);
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: 2;
}

#kids_photo {
    grid-column: 2/4;
    grid-row: 1 / 3;
    z-index: 1;
}

#kids_photo > img{
    /*width: 100%;*/
    height: 100%;
}


#link-1 {
    grid-area: link-1;
    justify-self: center;
    align-self: end;
    z-index: 4;
}
#link-2 {
    grid-area: link-2;
    justify-self: center;
    align-self: end;
    z-index: 4;
}
#link-3 {
    grid-area: link-3;
    justify-self: center;
    align-self: end;
    z-index: 4;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
    background-color:#7892c2;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:10px 49px;
    text-decoration:none;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
    background-color:#476e9e;
}

#ad-info-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: whitesmoke;
    text-align: center;
    grid-area: ad-info-1;
}
#ad-info-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    grid-area: ad-info-2;
    text-align: center;
    background-color: whitesmoke;
}
#ad-info-3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    grid-area: ad-info-3;
    text-align: center;
    background-color: whitesmoke;
}

p {
    font-size: 30px;
    text-align: center;
}
#p-1 {
    color: green;
}
#p-2 {
    color: orange;
}
#p-3 {
    color: blue;
}

