#container {
    background-color: #7BA7AB;
    display: grid;
    grid-template-rows: [rw1s] 100px [rw2s] 100px [rw3s] 100px
    [rw4s] 100px [rw5s] 100px [rw6s];
    grid-template-columns: repeat(5, 100px);
    grid-gap: 5px;
    justify-content: center;

}
#item-a {
    background-color: #2196f3;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: rw2s;
    grid-row-end: rw5s;

}

#item-b {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: #eff5f7;
    /*background-color: yellow;*/
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: rw4s;
    grid-row-end: rw5s;
    /*opacity: 0.5;*/
    /*justify-self: stretch;*/
    justify-self: center;
    align-self: center;
}
#tribe {
    width: 100%;
    height: 100%;
}