

.main-container {
background: olive;
    height: 500px;
    width: 900px;
    display: flex;
align-items: flex-start;
    flex-wrap: wrap;
}

.field-1 {
    display: flex;
    flex-direction: row;
    flex-basis: 850px;
}

.logo {
    justify-content: flex-start;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    margin-right: 400px;
}
.menu1, .menu2, .menu3, .menu4{
    justify-content: flex-end;
    width: 60px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    justify-content: flex-end;
}



.main-container > div  {

font-size: 30px;
    margin: 10px;
    padding: 10px;
    border: 2px solid brown;
    width: 25%;
    display: flex;


    }
.field-1 {
    display: flex;
}

.field-2, .field-3,.field-4, .field-5, .field-6, .field-7, .field-8, .field-9 {
    width: 25%;
}













